/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.double_card {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
