@import "../../../assets/scss/variables";
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $background_card;
  box-shadow: 0 1px 3px 0 $box_shadow;
}

table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  background: $background_card;
  padding: 20px;
  max-width: 100%;
  th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  th,
  td {
    padding: 25px 0;
    text-align: center;
  }
  tr {
    background-color: white;
    border: 1px solid #f3f5f7;
  }
}
