<div class="header-content">
  <h1>Liste des Catégories</h1>
  <a href="" class="btn"
    ><fa-icon [icon]="['far', 'square-plus']"></fa-icon>Nouvelle Catégorie</a
  >
</div>
<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Emoji</th>
        <th>Couleur</th>
        <th>Transactions</th>
        <th>Gérer</th>
      </tr>
    </thead>
    <tbody>
      @for (category of categories; track category.id) {
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.emoji }}</td>
        <td
          [style.background-color]="category.color"
          [style.color]="isDarkColor(category.color) ? 'white' : 'black'"
        >
          {{ category.color }}
        </td>
        <td>Construction</td>
        <td>
          <a href="" class="btn"
            ><fa-icon [icon]="['far', 'pen-to-square']"></fa-icon>Éditer</a
          >
          <a href="" class="btn delete"
            ><fa-icon [icon]="['fas', 'trash-can']"></fa-icon
          ></a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
