<div class="double_card">
  <div class="card">
    <h2>TEST CARD</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis
      nisi unde impedit eius repellendus voluptate nobis possimus veritatis
      soluta! Voluptatibus aperiam autem laboriosam? Obcaecati nisi dolores
      praesentium sapiente, corrupti optio!
    </p>
  </div>
  <div class="card">
    <h2>TEST CARD</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis
      nisi unde impedit eius repellendus voluptate nobis possimus veritatis
      soluta! Voluptatibus aperiam autem laboriosam? Obcaecati nisi dolores
      praesentium sapiente, corrupti optio!
    </p>
  </div>
</div>
